.filter-cover{
    padding: 12px;
    color: #333;
}

.heading{
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
}
h4{
    padding: 8px 0;
    font-weight: 450;
}
span{
    font-size: 14px;
    font-weight: 300;
}
hr{
    margin: 8px 0;
}
.type{
    display: flex;
    justify-content: space-between;
}
