<div class="filter-cover">
    <div class="heading">
        <h3>Filters</h3> <a href="#">Clear All Filter</a>
        <hr>
    </div>

    <div class="filter">

        <div class="filter-part">
            <h4>Transmission</h4>
            <div class="type"><span>Manual</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>Automatic</span>  <input type="checkbox" name="" id=""></div>
            <hr>       
        </div>

        <div class="filter-part">
            <h4>Price</h4>
            <div class="type"><span>R100 - R300</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>R300 - R600</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>R600 - R1000</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>R1000+</span>  <input type="checkbox" name="" id=""></div>
            <hr>       
        </div>

        <div class="filter-part">
            <h4>Pick Up Point</h4>
            <div class="type"><span>Airport</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>Hotels</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>Any</span>  <input type="checkbox" name="" id=""></div>

            <hr>       
        </div>

        <div class="filter-part">
            <h4>Specs</h4>
            <div class="type"><span>Airco</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>2 doors</span>  <input type="checkbox" name="" id=""></div>
            <div class="type"><span>4+ doors</span>  <input type="checkbox" name="" id=""></div>

                
        </div>

    </div>
</div>