<div class="nav-cover">
    <div class="inner-cover">
        <div class="logo">
            <a href="">Car Rental<em>.com</em></a>
             
        </div>
        <div class="links">
            <ul>
                <li><a href=""><fa-icon [icon]="facebook"></fa-icon></a></li>
                <li><a href=""><fa-icon [icon]="twitter"></fa-icon></a></li>
                <li><a href=""><fa-icon [icon]="linkedIn"></fa-icon></a></li>
            </ul>
        </div>
      
    </div>
    <div class="copy"> <p>Copyright © Car Rental - All Right Reserved 2023</p> </div>
</div>
