
<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <div class="grid-wrapper">
        <div class="grid map"><a href="">View Map</a>
            <div class="full" id="map">
                
            </div>
        </div>
        <div class="grid cat large">
            <app-car-cat></app-car-cat> 
            <app-car-cat></app-car-cat> 
            <app-car-cat></app-car-cat> 
            <app-car-cat></app-car-cat> 
            <app-car-cat></app-car-cat> 
        </div>
        <div class="grid sort large"> 
            
            <div class="sorting">
                <p>Sort By : <select name="" id="">
                    <option value="Rating">Rating (Desc)</option>
                    <option value="Price">Price (Asc)</option>
                </select> </p>
                
            </div>
        </div>

        <div class="grid filter"> <app-filter></app-filter> </div>

        <div class="grid search large"> 
            <div class="search-area"><input type="text" name="" placeholder="Search The Car Name"></div>
        </div>

        <div class="grid cars large">
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
            <h1>Cars</h1>
    
        
 

        </div>
        <div class="grid pagination large">page</div>
    </div>  
</div>

<app-footer></app-footer>


