<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <div class="grid-wrapper">
        <div class="grid map"> map </div>
        <div class="grid cat large"> cat </div>
        <div class="grid sort large"> 
            
            <div class="sorting">
                <p>Sort By : <select name="" id="">
                    <option value="Rating">Rating (Desc)</option>
                    <option value="Price">Price (Asc)</option>
                </select> </p>
                
            </div>
        </div>

        <div class="grid filter"> fil </div>

        <div class="grid search large"> 
            <div class="search-area"><input type="text" name="" placeholder="Search The Car Name"></div>
        </div>
        <div class="grid cars large"> cars </div>
        <div class="grid pagination large">page</div>
    </div>  
</div>

<app-footer></app-footer>
