.wrapper{
    width: 996px;
    margin: 8px auto;
}

.grid-wrapper{
    display: grid;
    gap: 2px;
    grid-template-areas: 
    'map cat cat cat cat'
    'sort search search search search'
    'filter cars cars cars cars'
    'filter none none pages pages';
}

.grid{
    border: 1px solid red;
}

.grid.map{
    grid-area: map;
    height: 150px;
}

.grid.cat{
    grid-area: cat;
    height: 150px;
}

.grid.filter{
    grid-area: filter;
}

.grid.sort{
    grid-area: sort;
    grid-template-columns: 1 / 2;
    height: auto;
}

.sorting{
    background-color: var(--light);
    color: var(--light-gray-mini);
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    padding: 8px 0;
}
.sorting p, h2{
    font-size: 15px;
}
.sorting .items{
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid var(--primary);
    padding: 6px 0;
    border-radius: 5px;
}

.grid.search{
    grid-area: search;
    height: auto;
}

.search-area{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

.search-area input{
    width: 98%;
    height: 100%;
    border: none;
    padding-left: 8px;
    position: absolute;
    background-color: var(--light);
}

input:focus::after::before{
    border: none;
}

.grid.cars{
    grid-area: cars;
    height: 210px;
}

.grid.pagination{
    grid-area: pages;
    height: auto;
}