<div class="cover">

    <header>
        <div class="mini-product">

            <div class="left-content">
                <div class="small-img">
                    <img src="../../../assets/cars/smallCar.jpg" alt="">
                </div>
                <div class="sub-content">
                    <h4 style="padding-bottom: 2px;">BMW M5</h4>
                    <p style="    font-size: small;
                    font-weight: 350;
                    color: #333;">7.1 (2 reviews)</p>
                </div>
            </div>


            <div class="right-content">
                <div class="price">
                    <h3>Only R800</h3>
                </div>
                <div class="book">
                    <p>Book Now</p>
                </div>
            </div>

        </div>

    </header>
    <section>

        <div class="rev-cover">
            <div class="rev-heading">
                <div class="">
                    <div class="back-icon">
                        <a routerLink="/home"><img src="../../../assets/icons/back.svg"></a>
                    </div>
                    <div>
                        <h5>Reviews</h5>
                    </div>
                   
                </div>
                
                <div class="comment">
                    <p> Write A Review</p>
                </div>
            </div>

            <div class="revs">
                <div class="title">
                    <h4>Sigama Thanyani </h4><p>19 November 2023 at 09:35 AM</p>
                    
                </div>
                <div class="review">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio amet porro natus est beatae ipsum autem laborum, exercitationem deleniti, minima illo ducimus voluptas id laboriosam vero perferendis alias architecto!
                    </p>
                    
                </div>
            </div>

            <div class="revs">
                <div class="title">
                    <h4>Sigama Thanyani </h4><p>19 November 2023 at 09:35 AM</p>
                    
                </div>
                <div class="review">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio amet porro natus est beatae ipsum autem laborum, exercitationem deleniti, minima illo ducimus voluptas id laboriosam vero perferendis alias architecto!
                    </p>
                    
                </div>
            </div>

            <div class="revs">
                <div class="title">
                    <h4>Sigama Thanyani </h4><p>19 November 2023 at 09:35 AM</p>
                    
                </div>
                <div class="review">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio amet porro natus est beatae ipsum autem laborum, exercitationem deleniti, minima illo ducimus voluptas id laboriosam vero perferendis alias architecto!
                    </p>
                    
                </div>
            </div>

            <div class="revs">
                <div class="title">
                    <h4>Sigama Thanyani </h4><p>19 November 2023 at 09:35 AM</p>
                    
                </div>
                <div class="review">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio amet porro natus est beatae ipsum autem laborum, exercitationem deleniti, minima illo ducimus voluptas id laboriosam vero perferendis alias architecto!
                    </p>
                    
                </div>
            </div>

        </div>
       
    </section>

</div>