<div class="nav-cover">
    <div class="inner-cover">
        <div class="logo">
            <a routerLink="/home">Car Rental<em>.com</em></a>
             
        </div>
        <div class="links">
            <ul>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="auth-btns">
            <a routerLink="/add-car"><div class="btn">Rent Your Car</div></a>
            <div class="btn" (click)="logOut()">Log Out</div>
        </div>       
    </div>
</div>
