<div class="nav-cover">
    <div class="inner-cover">
        <div class="logo">
            <a href="">Car Rental<em>.com</em></a>
             
        </div>
        <div class="links">
            <ul>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="auth-btns">
            <div class="btn">Log In</div>
            <div class="btn">Register</div>
        </div>       
    </div>
</div>
