<div class="outer-cover">
    <div class="inner-cover">
        <div class="picture">
            
                <img id="smallCar" src="../../../assets/cars/smallCar.jpg" alt="">
           
        </div>
        <div class="details">
            <div class="left">
                <div class="btn promo">
                    <p>On Sale</p>
                </div>
                <h4>{{car.car_name | capitalize}} {{car.model}}</h4>
                <div class="icon-text">
                    <img class="icon" src="../../../assets/icons/person.svg" alt="">
                    <span>{{car.seats}} seats</span>
                </div>
                <div class="icon-text">
                    <img class="icon" src="../../../assets/icons/petrol.svg" alt="">
                    <span>{{car.gasoline | capitalize}}</span>
                </div>
                <div class="icon-text">
                    <img class="icon" src="../../../assets/icons/gears.svg" alt="">
                    <span>{{car.transmission | capitalize}}</span>
                </div>
                <div class="icon-text">
                    <img class="icon" src="../../../assets/icons/location.svg" alt="">
                    <span>{{car.location.split(",")[1] | capitalize}}</span>
                </div>
            </div>
            <div class="right">
                <p class="r-txt">price per day</p>
                <h3 class="r-txt">{{car.price | currency: " ZAR "}}</h3>
                <span class="r-txt" style="color: green;"> ✔ Free Cancelation</span>
                <div class="btn book">
                    <p>Book Now</p>
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="left-info">
                <div class="rate" *ngIf="car.rate < 10 && car.rate > 0">
                    {{car.rate | number:'1.1-1'}}
                </div>
                <div class="rate" *ngIf="car.rate == 10">
                    {{car.rate}}
                </div>
                <div class="rate" *ngIf="!car.rate">
                    0.0
                </div>
                <div class="rev">
                    <h4>Perfect</h4>
                    <p><a routerLink="/car/{{car.car_id}}/reviews" *ngIf="car.review_count == 1">{{car.review_count}} Review</a></p>
                    <p><a routerLink="/car/{{car.car_id}}/reviews" *ngIf="car.review_count > 1 || car.review_count == 0">{{car.review_count}} Reviews</a></p>
                </div>               
            </div>
            
            <div class="right-info">
                    <img class="icon" src="../../../assets/icons/info.svg" alt="">
                    <a routerLink="/car/{{car.car_id}}"><p>View more</p></a>
                                       
            </div>

        </div>
    </div>
</div>