img{
    width: 24px;
    height: 24px;
}

.outer-cover{
    width: 100%;
    height: 46vh;
    padding: 5px 0;
    margin: 10px 0;
    
}

.inner-cover{
    width: 86%;
    margin: auto;
    height: 100%;
    border: 1.5px solid var(--light-gray-mini);
    padding: 6px;

    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr 5fr 1.5fr;
    grid-template-areas:
    "pic detail detail"
    "pic detail detail"
    "footer footer footer";
}

#smallCar{
object-fit: cover;
background-position: center;
background-size: cover;
position: absolute;
width: 100%;
height: auto;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.left h4{
    margin: 12px 0;
}
h3{
    font-weight: 600;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.r-txt{
    padding-bottom: 4px;
}

.icon{
    width: 18px;
    height: 18px;
    float: left;
    padding-right: 8px;
}

.picture{
    grid-area: pic; 
    position: relative;
    width: auto;
    height: 100%;
}

.details{
    grid-area: detail;
    display: flex;
    border-left: 1.5px solid var(--light-gray-mini);
}

.icon-text{
    margin: 1.5px 0;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    font-weight: normal;
}

.btn{
    padding: 6px;
    border-radius: 5px;
}

.btn.promo{
    background-color: cadetblue;
    width: 50%;
    text-align: center;
}
.btn.book{
    background-color: green;
    color: white;
    margin-bottom: 6px;
}

.footer{
    grid-area: footer;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--light-gray-mini);
    margin-top: 6px;
}

.footer .rate{
    background-color: var(--primary);
    width: auto;
    height: auto;
    color: var(--white);
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
}

.left-info{
    display: flex;
}
.right-info{
    width: 18%;
    padding: 0;
}
.rev{
    margin-left: 8px;
}
.rate h4{
    font-size: 2rem;

}